

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: unset;
}

body {
    font-size: 16px;
    color: var(--c-gray-60);
    font-family: var(--font-regular);
    line-height: 1.3;

    text-align: left;
}

ul li { list-style: none; }
a { text-decoration: none; color: var(--c-link); cursor: pointer; }
p { line-height: 1.4; }


::-webkit-scrollbar{ width: 6px; }
::-webkit-scrollbar-thumb { background-color: var(--c-gray-60); border-radius: 6px; }

